* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: url(../images/vecteezy_seamless-clouds-floating-in-the-sky_366121.svg)
    no-repeat center;
  background-size: cover;
  width: 100vw;
  height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 3%;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  overflow-x: hidden;
}

.game-container {
  position: relative;
  height: 100vh;
  background-color: rgba(233, 178, 0, 255);
  border-radius: 20px;
  padding: 20px;
  border: 5px solid rgba(251, 219, 17, 255);
  box-shadow: 0px 1px 5px black;

  display: flex;
  flex-direction: column;
  align-items: center;

  width: 100%;
  max-width: 800px;
}

.game-container h1 {
  color: white;
  font-size: 40px;
  margin-bottom: 20px;
  position: relative;
  z-index: 2;
}

.game-container h1::before {
  content: "Quiz App";
  color: black;
  font-size: 39.5px;
  position: absolute;
  z-index: 0;
  top: -2px;
}

.question-answers-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 50px;
  margin-top: 7%;
}

.question-container {
  display: flex;
  flex-direction: column;
}

.question-container h3 {
  background-color: rgb(199, 199, 199);
  max-width: 150px;
  padding: 5px 10px;
  border-radius: 20px 20px 0 0;
  text-align: center;
  border-bottom: 1px solid black;
}

.question-container p {
  text-align: center;
  font-size: 20px;
  background-color: white;
  padding: 30px;
  border-radius: 0px 20px 20px 20px;
}

.answers-container {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.answers-container button {
  flex: 1 1 calc(50% - 20px);
  font-size: 22px;
  padding: 10px;
  border-radius: 50px;
  font-weight: bold;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.answers-container .answer-button {
  cursor: pointer;
  transition: ease 0.2s;
}

.answers-container .answer-button:hover {
  transform: scale(1.05);
  background-color: rgb(210, 210, 210);
}

.clicked-answer {
  background-color: rgb(210, 210, 210);
  transform: scale(1.05);
  cursor: none;
}

.correct-answer {
  background-color: green;
  color: white;
  cursor: default;
}

.incorrect-answer {
  background-color: red;
  color: white;
  cursor: default;
}

.correct-answer:hover {
  transform: none;
  background-color: green;
}

.incorrect-answer:hover {
  transform: none;
  background-color: red;
}

.stoppage-time {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
  position: absolute;
  right: 20px;
  top: 20px;
  font-size: 40px;
  font-weight: bold;
  border: 2px solid black;
  background-color: rgb(0, 175, 0);
  padding: 10px;
  border-radius: 50%;
  color: white;
}

.timerAnimation {
  animation: lowTime 0.2s linear infinite;
}

@keyframes lowTime {
  0% {
    transform: translateX(3px);
  }
  25% {
    transform: translateX(-3px);
  }
  50% {
    transform: translateX(3px);
  }
  100% {
    transform: translateX(-3px);
  }
}

.next-question {
  display: none;
  font-size: 22px;
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
  font-weight: bold;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  transition: ease 0.2s;
  background-color: black;
  color: white;
}

.next-question:hover {
  transform: scale(1.03);
}

.score {
  position: absolute;
  left: 20px;
  top: 20px;
  font-size: 24px;
  font-weight: bold;
}

.confirm-dialog {
  background-color: rgba(233, 178, 0, 255);
  border-radius: 20px;
  padding: 20px;
  border: 5px solid rgba(251, 219, 17, 255);
  box-shadow: 0px 1px 5px black;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
  align-items: center;
  flex-direction: column;
  gap: 30px;
}

.confirm-dialog p {
  font-size: 20px;
}

.confirm-dialog .buttons-container {
  display: flex;
  gap: 20px;
}

.confirm-dialog button {
  font-size: 18px;
  padding: 7px 20px;
  border-radius: 10px;
  cursor: pointer;
  font-weight: bold;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  transition: ease 0.2s;
  background-color: black;
  color: white;
}

.confirm-dialog button:hover {
  transform: scale(1.1);
}

.isCorrect {
  text-align: center;
  display: none;
}

.final-score-container {
  max-height: 400px;
  height: 100%;
  background-color: rgba(233, 178, 0, 255);
  border-radius: 20px;
  padding: 20px;
  border: 5px solid rgba(251, 219, 17, 255);
  box-shadow: 0px 1px 5px black;

  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  width: 100%;
  max-width: 500px;
}

.final-score-container h1 {
  color: white;
  font-size: 40px;
  margin-bottom: 20px;
  position: relative;
  z-index: 2;
}

.final-score-container h1::before {
  content: "Quiz App";
  color: black;
  font-size: 39.5px;
  position: absolute;
  z-index: 0;
  top: -2px;
}

.feedback {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.feedback .score-message {
  text-align: center;
}

.final-score-container button {
  font-size: 22px;
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
  font-weight: bold;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  transition: ease 0.2s;
  background-color: black;
  color: white;
}

.final-score-container button:hover {
  transform: scale(1.08);
}

.seagul {
  position: absolute;
  top: 20px;
  left: -100px;
  width: 100px;
  z-index: -1;
  animation: seaguls-flying 5s linear infinite;
}

.seagul1 {
  position: absolute;
  bottom: 50%;
  left: -100px;
  width: 50px;
  z-index: -1;
  animation: seaguls-flying 15s linear infinite;
  animation-delay: 1s;
}

.seagul2 {
  position: absolute;
  top: 50%;
  left: -100px;
  width: 80px;
  z-index: -1;
  animation: seaguls-flying 10s linear infinite;
  animation-delay: 2s;
}

.seagul3 {
  position: absolute;
  bottom: 60px;
  left: -100px;
  width: 90px;
  z-index: -1;
  animation: seaguls-flying 8s linear infinite;
}

.seagul4 {
  position: absolute;
  top: 30%;
  left: -100px;
  width: 40px;
  z-index: -1;
  animation: seaguls-flying 18s linear infinite;
  animation-delay: 4s;
}

.seagul5 {
  position: absolute;
  bottom: 120px;
  left: -100px;
  width: 50px;
  z-index: -1;
  animation: seaguls-flying 15s linear infinite;
  animation-delay: 4s;
}

@keyframes seaguls-flying {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(110vw);
  }
}
