* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: url(../images/vecteezy_seamless-clouds-floating-in-the-sky_366121.svg)
    no-repeat center;
  background-size: cover;
  width: 100vw;
  height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 3%;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  overflow-x: hidden;
}

.scores-container {
  position: relative;
  min-height: 100%;
  background-color: rgba(233, 178, 0, 255);
  border-radius: 20px;
  padding: 20px;
  border: 5px solid rgba(251, 219, 17, 255);
  box-shadow: 0px 1px 5px black;

  display: flex;
  flex-direction: column;
  align-items: center;

  width: 100%;
  max-width: 800px;
}

.scores-container h1 {
  color: white;
  font-size: 40px;
  margin-bottom: 20px;
  position: relative;
  z-index: 2;
}

.scores-container h1::before {
  content: "Quiz App";
  color: black;
  font-size: 39.5px;
  position: absolute;
  z-index: 0;
  top: -2px;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

th,
td {
  padding: 12px;
  text-align: left;
  border: 1px solid #353535;
}

th {
  background-color: #4caf50;
  color: white;
}

tr:nth-child(odd) {
  background-color: #dfdfdf;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

.scores-container button {
  margin-top: auto;
  width: 100%;
  font-size: 22px;
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
  font-weight: bold;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  transition: ease 0.2s;
  background-color: black;
  color: white;
}

.scores-container button:hover {
  transform: scale(1.03);
}

.seagul {
  position: absolute;
  top: 20px;
  left: -100px;
  width: 100px;
  z-index: -1;
  animation: seaguls-flying 5s linear infinite;
}

.seagul1 {
  position: absolute;
  bottom: 50%;
  left: -100px;
  width: 50px;
  z-index: -1;
  animation: seaguls-flying 15s linear infinite;
  animation-delay: 1s;
}

.seagul2 {
  position: absolute;
  top: 50%;
  left: -100px;
  width: 80px;
  z-index: -1;
  animation: seaguls-flying 10s linear infinite;
  animation-delay: 2s;
}

.seagul3 {
  position: absolute;
  bottom: 60px;
  left: -100px;
  width: 90px;
  z-index: -1;
  animation: seaguls-flying 8s linear infinite;
}

.seagul4 {
  position: absolute;
  top: 30%;
  left: -100px;
  width: 40px;
  z-index: -1;
  animation: seaguls-flying 18s linear infinite;
  animation-delay: 4s;
}

.seagul5 {
  position: absolute;
  bottom: 120px;
  left: -100px;
  width: 50px;
  z-index: -1;
  animation: seaguls-flying 15s linear infinite;
  animation-delay: 4s;
}

@keyframes seaguls-flying {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(110vw);
  }
}
